:root {
  --primary-color: #324376;
  --secondary-color: #8fb8deff;
  --third-color: #3f6c51ff;
  --fourth-color: #d7263dff;
  --fifth-color: #f26419ff;
  --sixth-color: rgba(102, 102, 102, 0.63);
}

.hero {
  background-image: url(../images/Nazgul-by-Fell418.jpg);
  background-size: cover;
  background-position: center;
}

.hero.is-dark .tabs.is-boxed a:hover,
.hero.is-dark .tabs.is-toggle a:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

.hero.is-dark
  a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current):hover {
  color: black;
}

#rules-background {
  background-image: url(../images/fantasy-art-by-Millikodea.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

#lore-background {
  background-image: url(../images/End-of-Elder-Days-by-Sandara.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.hero-body {
  padding: 0;
}

#enemy-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#enemy-avatar {
  position: relative;
  background-size: 150%;
  background-position: top;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: solid 3px black;
}

#enemy-avatar-border {
  position: absolute;
  height: 10rem;
  transform: scale(2);
  overflow: hidden;
}

#enemy-health {
  width: 100%;
  border: solid 1px black;
  border-radius: 0px;
  position: relative;
  top: 3rem;
  margin-bottom: 1rem;
}

#enemy-power {
  width: 100%;
  border: solid 1px black;
  border-radius: 0px;
  position: relative;
  top: 2.5rem;
  margin-bottom: 0;
}

progress {
  text-align: center;
}

progress:after {
  content: attr(value) "%";
}

#enemy-deck {
  background-image: url(../images/CardPngs/Deck_Back.png);
  background-size: cover;
  background-position: center;
  height: 15rem;
  width: 11rem;
}

#enemy-hand {
  transform: translateY(-14rem);
}

.enemy-card {
  background-image: url(../images/CardPngs/Card_Back.png);
  background-size: cover;
  background-position: center;
  border: solid 3px black;
  border-radius: 10px;
  height: 14rem;
  width: 10rem;
  transition: transform 200ms;
  margin-right: -100px;
}

.played-enemy-card {
  margin: 0 1.8rem;
  transform: none;
  border: none;
  background-color: transparent;
}

.enemy-cost-stat {
  position: absolute;
  top: -1.45rem;
  left: -0.3rem;
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  -webkit-text-stroke: 1px black;
}

.enemy-atk-stat {
  position: absolute;
  top: 5.65rem;
  left: -0.45rem;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 1px black;
}

.enemy-def-stat {
  position: absolute;
  top: 5.65rem;
  left: 9.53rem;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 1px black;
}

#player-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1em;
  padding-top: 13em;
  overflow: hidden;
}

#player-avatar {
  background-size: cover;
  background-position: top;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: solid 3px black;
}

#power-counter {
  position: absolute;
  left: 10rem;
  background-color: blue;
  padding: 0 0.5em;
  border: solid 3px black;
  border-radius: 50%;
}

#player-health {
  width: 100%;
  border: solid 1px black;
  border-radius: 0px;
  position: relative;
  bottom: 2.5rem;
  margin-bottom: 1rem;
}

#player-power {
  width: 100%;
  border: solid 1px black;
  border-radius: 0px;
  position: relative;
  bottom: 3rem;
  margin-bottom: 0;
  color: gold;
}

#player-deck {
  background-image: url(../images/CardPngs/Deck_Back.png);
  background-size: cover;
  background-position: center;
  height: 15rem;
  width: 11rem;
}

#player-hand {
  transform: translateX(10rem) translateY(7rem);
}

.player-card {
  color: black;
  /* border: solid 3px black; */
  border-radius: 15px;
  height: 14rem;
  width: 10rem;
  position: relative;
  transition: transform 400ms;
  touch-action: pan-x;
  margin-left: -5rem;
}

.player-card-img {
  transform: scale(1.2);
}

.played-card {
  margin: 0 1.8rem;
  border-radius: 15px;
  height: 14rem;
  width: 10rem;
  position: relative;
  touch-action: pan-x;
}

@keyframes bounce {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(-15px);
  }
}

.player-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.player-card:hover {
  transform: translateY(-14rem);
}

.player-card:hover::before {
  height: calc(100% + 10em);
}

.ready-to-attack {
  border-radius: 15px;
  height: 14rem;
  width: 10rem;
  position: relative;
  touch-action: pan-x;
}

#no-mans-land {
  position: absolute;
  width: 100vw;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50%;
  justify-content: center;
}

#enemy-field {
  height: 50%;
  margin: 0 15vw;
}

#player-field {
  height: 50%;
  margin: 0 15vw;
}

.card-inactive {
  border-radius: 15px;
  height: 14rem;
  width: 10rem;
  position: relative;
  touch-action: pan-x;
  transform: translateY(15px);
  box-shadow: none;
  animation: none;
}

.end-turn {
  display: inline-block;
  position: relative;
  max-width: 18%;
  margin-left: 175px;
}

#end-turn-text {
  font-family: "MedievalSharp", serif;
  z-index: 1002;
  top: 25%;
  letter-spacing: 0.2em;
  pointer-events: none;
}

.img-top {
  display: none;
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1000;
}

.end-turn:hover .img-top {
  display: inline;
}

.cost-stat {
  position: absolute;
  top: -1.45rem;
  left: -0.18rem;
  font-size: 0.5em;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
}

.atk-stat {
  position: absolute;
  top: 5.5rem;
  left: -0.55rem;
  font-size: 0.55em;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 1px black;
}

.def-stat {
  position: absolute;
  top: 5.5rem;
  left: 9.53rem;
  font-size: 0.55em;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 1px black;
}

#game-over {
  font-family: "MedievalSharp", serif;
}

#game-over-msg {
  background-color: darkslategray;
}

#you-won {
  color: white;
}

#you-lost {
  color: white;
}

#rotate {
  display: none;
}

@media screen and (orientation: portrait) {
  #rotate {
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;

    span {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        text-align: center;
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 980px) {
  #felt-view {
    padding-left: 0;
    padding-right: 0;
  }

  #player-row {
    padding-top: 15em;
  }
  #enemy-avatar {
    transform: translateY(-2.5rem) translateX(.5rem);
    width: 5rem;
    height: 5rem;
  }
  #enemy-health {
    height: 0.5rem;
  }
  #enemy-power {
    height: 0.5rem;
  }
  #player-avatar {
    transform: translateX(.5rem);
    width: 5rem;
    height: 5rem;
  }
  #player-health {
    height: 0.5rem;
  }
  #player-power {
    height: 0.5rem;
  }
  #enemy-deck {
    transform: translateY(-2.5rem) translateX(-0.5rem);
    height: 6rem;
    width: 4rem;
  }
  #enemy-hand {
    transform: translateY(-7rem);
  }
  .enemy-card {
    margin-right: -10rem;
    height: 8.5rem;
    width: 6.5rem;
  }
  .played-enemy-card {
    margin-right: 0;
  }
  .enemy-cost-stat {
    font-size: 1.3em;
    top: -1.19rem;
    left: -0.18rem;
    font-weight: normal;
    -webkit-text-stroke: none;
  }
  .enemy-atk-stat {
    font-size: 1.2em;
    top: 3.45rem;
    left: -0.35rem;
  }
  .enemy-def-stat {
    font-size: 1.2em;
    top: 3.45rem;
    left: 6.15rem;
  }
  #no-mans-land {
    height: 14rem;
  }
  #enemy-field {
    margin-top: -1rem;
  }
  #player-field {
    margin-top: -9rem;
  }
  #power-counter {
    left: 3.5rem;
    top: -0.5rem;
  }
  #player-deck {
    transform: translateX(-0.5rem);
    height: 6rem;
    width: 4rem;
  }
  #player-hand {
    transform: translateY(3rem);
    display: flex;
    justify-content: flex-end;
    flex-basis: 55%;
    width: 100%;
    margin-right: 1rem;
    z-index: 1005;
  }
  .player-card {
    margin-left: -3rem;
    height: 8.5rem;
    width: 6.5rem;
  }
  .cost-stat {
    top: -1.1rem;
    font-size: 0.4em;
    font-weight: normal;
    -webkit-text-stroke: none;
  }
  .atk-stat {
    top: 3.5rem;
    left: -0.4rem;
    font-size: 0.4em;
  }
  .def-stat {
    top: 3.5rem;
    left: 6.2rem;
    font-size: 0.4em;
  }
  .played-card {
    height: 8.5rem;
    width: 6.5rem;
  }
  .player-card:hover {
    transform: translateY(-10rem);
  }
  #end-turn-btn {
    margin-left: 0;
    z-index: 1005;
  }
}

@media screen and (max-width: 720px) {
  .hero {
    background-position: 63%;
  }
  #enemy-deck {
    height: 7rem;
    width: 5rem;
  }
  .enemy-card {
    margin-right: -3rem;
    height: 7rem;
    width: 5rem;
  }
  .played-enemy-card {
    margin-right: 0;
  }
  .enemy-cost-stat {
    font-size: 0.9em;
    top: -0.8rem;
    left: -0.18rem;
    font-weight: normal;
    -webkit-text-stroke: none;
  }
  .enemy-atk-stat {
    font-size: 1em;
    top: 2.6rem;
    left: -0.35rem;
  }
  .enemy-def-stat {
    font-size: 1em;
    top: 2.6rem;
    left: 4.7rem;
  }
  #enemy-field {
    margin-top: -7rem;
  }
  #player-field {
    margin-top: -10rem;
  }
  #player-row {
    padding-top: 3em;
  }
  #player-avatar {
    transform: translateX(0.5rem);
    width: 5rem;
    height: 5rem;
  }
  #player-hand {
    display: flex;
    justify-content: flex-end;
    flex-basis: 55%;
    width: 100%;
    margin-right: 1rem;
    z-index: 1005;
  }
  #player-deck {
    transform: translateX(-0.5rem);
    height: 7rem;
    width: 5rem;
  }
  .player-card {
    margin-left: -3rem;
    height: 7rem;
    width: 5rem;
  }
  .cost-stat {
    top: -0.8rem;
    font-size: 0.3em;
    font-weight: normal;
    -webkit-text-stroke: none;
  }
  .atk-stat {
    top: 2.6rem;
    left: -0.4rem;
    font-size: 0.35em;
  }
  .def-stat {
    top: 2.6rem;
    left: 4.7rem;
    font-size: 0.35em;
  }
  .played-card {
    margin-right: -1rem;
    z-index: 1000;
    height: 7rem;
    width: 5rem;
  }
  .player-card:hover {
    transform: translateY(-5rem);
  }
}
