:root {
  --primary-color: #324376;
  --secondary-color: #8fb8deff;
  --third-color: #3f6c51ff;
  --fourth-color: #d7263dff;
  --fifth-color: #f26419ff;
  --sixth-color: rgba(102, 102, 102, 0.63);
}

.hero {
  background-image: url(../images/Nazgul-by-Fell418.jpg);
  background-size: cover;
  background-position: center;
}

.hero.is-dark .tabs.is-boxed a:hover,
.hero.is-dark .tabs.is-toggle a:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

.hero.is-dark
  a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current):hover {
  color: black;
}

#rules-background {
  background-image: url(../images/fantasy-art-by-Millikodea.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

#lore-background {
  background-image: url(../images/End-of-Elder-Days-by-Sandara.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.hero-body {
  padding: 0;
}

#enemy-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#enemy-avatar {
  position: relative;
  background-size: 150%;
  background-position: top;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: solid 3px black;
}

#enemy-avatar-border {
  position: absolute;
  height: 10rem;
  transform: scale(2);
  overflow: hidden;
}

#enemy-health {
  width: 100%;
  border: solid 1px black;
  border-radius: 0px;
  position: relative;
  top: 3rem;
  margin-bottom: 1rem;
}

#enemy-power {
  width: 100%;
  border: solid 1px black;
  border-radius: 0px;
  position: relative;
  top: 2.5rem;
  margin-bottom: 0;
}

progress {
  text-align: center;
}

progress:after {
  content:attr(value)'%';
}

#enemy-deck {
  background-image: url(../images/CardPNGs/Card_Back.png);
  background-size: cover;
  background-position: center;
  border: solid 3px black;
  border-radius: 10px;
  height: 15rem;
  width: 11rem;
}

#enemy-hand {
  transform: translateY(-14rem);
}

.enemy-card {
  background-image: url(../images/CardPNGs/Card_Back.png);
  background-size: cover;
  background-position: center;
  border: solid 3px black;
  border-radius: 10px;
  height: 14rem;
  width: 10rem;
  transition: transform 200ms;
  margin-right: -100px;
}

.played-enemy-card {
  margin: 0 1.8rem;
  transform: none;
  border: none;
  background-color: transparent;
}

#player-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1em;
  padding-top: 13em;
  overflow: hidden;
}

#player-avatar {
  background-size: cover;
  background-position: top;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: solid 3px black;
}

#player-avatar-border {
  position: absolute;
  left: 1.55rem;
  height: 10rem;
  transform: scale(1.1);
  overflow: hidden;
}

#player-health {
  width: 100%;
  border: solid 1px black;
  border-radius: 0px;
  position: relative;
  bottom: 2.5rem;
  margin-bottom: 1rem;
}

#player-power {
  width: 100%;
  border: solid 1px black;
  border-radius: 0px;
  position: relative;
  bottom: 3rem;
  margin-bottom: 0;
  color: gold;
}

#player-deck {
  background-image: url(../images/CardPNGs/Card_Back.png);
  background-size: cover;
  background-position: center;
  border: solid 3px black;
  border-radius: 10px;
  height: 15rem;
  width: 11rem;
}

#player-hand {
  transform: translateX(10rem) translateY(7rem);
}

.player-card {
  color: black;
  /* border: solid 3px black; */
  border-radius: 15px;
  height: 14rem;
  width: 10rem;
  position: relative;
  transition: transform 400ms;
  touch-action: pan-x;
  margin-left: -5rem;
}

.played-card {
  margin: 0 1.8rem;
  border-radius: 15px;
  height: 14rem;
  width: 10rem;
  position: relative;
  touch-action: pan-x;
}

@keyframes bounce {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(-15px);
  }
}

.player-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.player-card:hover {
  transform: translateY(-14rem);
}

.player-card:hover::before {
  height: calc(100% + 10em);
}

.ready-to-attack {
  border-radius: 15px;
  height: 14rem;
  width: 10rem;
  position: relative;
  touch-action: pan-x;
}

#no-mans-land {
  position: absolute;
  width: 100vw;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50%;
  justify-content: center;
}

#enemy-field {
  height: 50%;
  margin: 0 15vw;
}

#player-field {
  height: 50%;
  margin: 0 15vw;
}

@keyframes wobble {
  0% { transform: translateX(0%) scale(1.2); }
  15% { transform: translateX(-25%) rotate(-5deg); }
  30% { transform: translateX(20%) rotate(3deg); }
  45% { transform: translateX(-15%) rotate(-3deg); }
  60% { transform: translateX(10%) rotate(2deg); }
  75% { transform: translateX(-5%) rotate(-1deg); }
  100% { transform: translateX(0%) scale(1.2)
    ; }
}

.card-inactive {
  border-radius: 15px;
  height: 14rem;
  width: 10rem;
  position: relative;
  touch-action: pan-x;
  transform: translateY(15px);
  box-shadow: none;
  animation: none;
}

.end-turn {
  display: inline-block;
  position: relative;
  cursor: url('../images/custom-cursor.png'), auto;
  max-width: 18%;
  margin-left: 175px;
}

.img-top {
  display: none;
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1000;
  cursor: url('../images/custom-cursor.png'), auto;
}

.img-bottom {
  cursor: url('../images/custom-cursor.png'), auto;
}

.end-turn:hover .img-top {
  display: inline;
  cursor: url('../images/custom-cursor.png'), auto;
}


@media screen and (max-width: 980px) {
  #player-row {
    padding-top: 15em;
  }
  #enemy-avatar {
    min-width: 5rem;
    height: 5rem;
  }
  #enemy-health {
    height: 0.5rem;
  }
  #enemy-power {
    height: 0.5rem;
  }
  #player-avatar {
    min-width: 5rem;
    height: 5rem;
  }
  #player-health {
    height: 0.5rem;
  }
  #player-power {
    height: 0.5rem;
  }
  #enemy-deck {
    height: 6rem;
    min-width: 4rem;
  }
  #enemy-hand {
    transform: translateY(-7rem);
  }
  .enemy-card {
    height: 8.5rem;
    width: 6.5rem;
  }

  #no-mans-land {
    height: 15rem;
  }

  #player-deck {
    height: 6rem;
    min-width: 4rem;
  }
  #player-hand {
    transform: translateY(3rem);
  }
  .player-card {
    height: 8.5rem;
    width: 6.5rem;
  }
  .played-card {
    height: 8.5rem;
    width: 6.5rem;
  }
  .player-card:hover {
    transform: translateY(-10rem);
  }
}

@media screen and (max-width: 720px) {
  .hero {
    background-position: 63%;
  }
  #enemy-avatar {
    width: 5rem;
    height: 5rem;
  }
  #enemy-deck {
    height: 7rem;
    width: 5rem;
  }
  .enemy-card {
    height: 7rem;
    width: 5rem;
  }

  #player-row {
    padding-top: 3em;
  }
  #player-avatar {
    width: 5rem;
    height: 5rem;
  }
  #player-deck {
    height: 7rem;
    width: 5rem;
  }
  .player-card {
    height: 7rem;
    width: 5rem;
  }
  .played-card {
    height: 7rem;
    width: 5rem;
  }
  .player-card:hover {
    transform: translateY(-6rem);
  }
}
