:root {
    --primary-color: #324376;
    --secondary-color: #8fb8deff;
    --third-color: #3f6c51ff;
    --fourth-color: #d7263dff;
    --fifth-color: #f26419ff;
    --sixth-color: #f9e900ff
}

.hero {
    background-image: url(../images/nazgul_by_fell418_deyyz5f-414w-2x.jpg);
    background-size: cover;
    background-position: center;
}

.hero.is-dark .tabs.is-boxed a:hover, .hero.is-dark .tabs.is-toggle a:hover {
    background-color:white;
}

.hero.is-dark a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current):hover {
    color: black;
}

@media screen and (max-width: 720px) {
    .hero {
        background-position: 63%;
    }
}