:root {
  --primary-color: #324376;
  --secondary-color: #8fb8deff;
  --third-color: #3f6c51ff;
  --fourth-color: #d7263dff;
  --fifth-color: #f26419ff;
  --sixth-color: #f9e900ff;
}

.hero {
  background-image: url(../images/nazgul_by_fell418_deyyz5f-414w-2x.jpg);
  background-size: cover;
  background-position: center;
}

.hero.is-dark .tabs.is-boxed a:hover,
.hero.is-dark .tabs.is-toggle a:hover {
  background-color: white;
}

.hero.is-dark
  a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current):hover {
  color: black;
}

.hero-body {
  padding: 0;
}

#enemy-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#enemy-avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: solid 3px black;
}

#enemy-health {
  width: 100%;
  border-radius: 0px;
  position: relative;
  top: 3rem;
  margin-bottom: 1rem;
}
#enemy-power {
  width: 100%;
  border-radius: 0px;
  position: relative;
  top: 2.5rem;
  margin-bottom: 0;
}

#enemy-deck {
  border: solid 3px black;
  border-radius: 15px;
  height: 15rem;
  width: 10rem;
}

#enemy-hand {
  transform: translateY(-14rem);
}

.enemy-card {
  border: solid 3px black;
  border-radius: 15px;
  height: 15rem;
  width: 10rem;
}

#player-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1em;
  padding-top: 7em;
  overflow: hidden;
}

#player-avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: solid 3px black;
}

#player-health {
  width: 100%;
  border-radius: 0px;
  position: relative;
  bottom: 2.5rem;
  margin-bottom: 1rem;
}

#player-power {
  width: 100%;
  border-radius: 0px;
  position: relative;
  bottom: 3rem;
  margin-bottom: 0;
}

#player-deck {
  border: solid 3px black;
  border-radius: 15px;
  height: 15rem;
  width: 10rem;
}

#player-hand {
  transform: translateY(7rem);
}

.player-card {
  border: solid 3px black;
  border-radius: 15px;
  height: 15rem;
  width: 10rem;
  position: relative;
  transition: transform 200ms;
  touch-action: pan-x;
}

.played-card {
  border: solid 3px black;
  border-radius: 15px;
  height: 15rem;
  width: 10rem;
  position: relative;
  transition: transform 200ms;
  touch-action: pan-x;
}

.player-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.player-card:hover {
  transform: translateY(-14rem);
}

.player-card:hover::before {
  height: calc(100% + 10em);
}

#no-mans-land {
  position:absolute;
  width:100vw;
  border:solid 1px black;
  top:20%;
  left:0;
  right: 0;
  bottom: 0;
  height: 50%;
  justify-content: center;
}

#enemy-field {
  border: solid 1px red;
  height:50%;
  margin: 0 15vw;
}

#player-field {
  border: solid 1px blue;
  height:50%;
  margin: 0 15vw;
}

@media screen and (max-width: 980px) {
  #enemy-avatar {
    width: 7rem;
    height: 7rem;
  }
  #enemy-health {
    height: 0.5rem;
  }
  #enemy-power {
    height: 0.5rem;
  }
  #player-avatar {
    width: 7rem;
    height: 7rem;
  }
  #player-health {
    height: 0.5rem;
  }
  #player-power {
    height: 0.5rem;
  }
  #enemy-deck {
    height: 8.5rem;
    width: 6.5rem;
  }
  #enemy-hand {
    transform: translateY(-7rem);
  }
  .enemy-card {
    height: 8.5rem;
    width: 6.5rem;
  }

  #no-mans-land {
    height: 15rem;
  }

  #player-deck {
    height: 8.5rem;
    width: 6.5rem;
  }
  #player-hand {
    transform: translateY(3rem);
  }
  .player-card {
    height: 8.5rem;
    width: 6.5rem;
  }
  .played-card {
    height: 8.5rem;
    width: 6.5rem;
  }
  .player-card:hover {
    transform: translateY(-10rem);
  }
}

@media screen and (max-width: 720px) {
  .hero {
    background-position: 63%;
  }
  #enemy-avatar {
    width: 5rem;
    height: 5rem;
  }
  #enemy-deck {
    height: 7rem;
    width: 5rem;
  }
  .enemy-card {
    height: 7rem;
    width: 5rem;
  }

  #player-row {
    padding-top: 3em;
  }
  #player-avatar {
    width: 5rem;
    height: 5rem;
  }
  #player-deck {
    height: 7rem;
    width: 5rem;
  }
  .player-card {
    height: 7rem;
    width: 5rem;
  }
  .played-card {
    height: 7rem;
    width: 5rem;
  }
  .player-card:hover {
    transform: translateY(-6rem);
  }
}
